:root {
  --text: #f5f6fa;
  --red: #cb405c;
  --red-dark: #8a0013;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: radial-gradient(circle, var(--red) 0%, var(--red-dark) 100%);
}

